@font-face {
    font-family: "PressStart2P";
    src: local("PressStart2P"),
      url("./compt/fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "Pixeled";
    src: local("Pixeled"),
      url("./compt/fonts/Pixeled.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "PublicPixel";
    src: local("PublicPixel"),
      url("./compt/fonts/PublicPixel-0W5Kv.ttf") format("truetype");
    font-weight: normal;
  }