.navigation {
    background: #095159;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-logo {
    color: #f9af42;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-start;
}

.navigation-item {
    color: #f9af42;
    border-bottom: 1px solid transparent;
}

.navigation-item:hover {
    border-bottom: 1px solid #f9af42;
}

.menu-icon {
    display: none;
    color: #f9af42;
}

@media screen and (max-width: 960px) {
    .NavigationItems {
        position: relative;
    }

    .nav-logo {
        color: #f9af42;
        
    }

    .navigation {
        justify-content: center;
    }

    .navigation-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .navigation-menu.active {
        background: #095159;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease right;
        z-index: 1;
    }

    .navigation-item:hover {
        border: none;
    }

    .navigation-item {
        width: 100%;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}